div.disp-toc-header {
	text-align: center;
}
div.disp-toc-header h1 {
	font-size: 180%;
	color: var(--basic_black);
}
div.disp-toc-header h2 {
	
	color: var(--basic_black);
}
div.disp-toc-header p{
	font-size: 70%;
	margin-left: 5%;
	margin-right: 5%;
}

h1 {
	color: var(--basic-h1toc-color);
	font-size: 2em;
}
h2 {
	color: var(--basic-h2toc-color);
	font-size: 1.6em;
}
h3 {
	color: var(--basic-h3toc-color);
	font-size: 1.3em;
}

pre[class*="language-"] {
    background-color: #555 !important;
    padding: 15px;
    border-radius: 5px;
    overflow-x: auto;
}

code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}