/* lora-regular - latin */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: local('Lora Regular'), local('Lora-Regular'),
       url('fonts/lora-v15-latin-regular.woff2') format('woff2'),
       url('fonts/lora-v15-latin-regular.woff') format('woff');
}

/* lora-italic - latin */
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  src: local('Lora Italic'), local('Lora-Italic'),
       url('fonts/lora-v15-latin-italic.woff2') format('woff2'),
       url('fonts/lora-v15-latin-italic.woff') format('woff');
}

/* lora-700 - latin */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  src: local('Lora Bold'), local('Lora-Bold'),
       url('fonts/lora-v15-latin-700.woff2') format('woff2'),
       url('fonts/lora-v15-latin-700.woff') format('woff');
}

/* lora-700italic - latin */
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 700;
  src: local('Lora Bold Italic'), local('Lora-BoldItalic'),
       url('fonts/lora-v15-latin-700italic.woff2') format('woff2'),
       url('fonts/lora-v15-latin-700italic.woff') format('woff');
}
/* marcellus-sc-regular - latin */
@font-face {
  font-family: 'Marcellus SC';
  font-style: normal;
  font-weight: 400;
  src: local('Marcellus SC'), local('MarcellusSC-Regular'),
       url('fonts/marcellus-sc-v7-latin-regular.woff2') format('woff2'),
       url('fonts/marcellus-sc-v7-latin-regular.woff') format('woff');
}


.ma-shan-zheng-regular {
	font-family: "Ma Shan Zheng", cursive;
	font-weight: 400;
	font-style: normal;
  }
  